<style>
    img.log {
    max-width:53px;
    max-height:53px;
    width:auto;
    height:auto;
    margin-left: 100px;
}
    
    nav {
    margin-left: -200px;
}
    
#logo {
    font-size: 24pt;
    width: 140px;
    margin-left: 100px;
}

#header-middle {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#header-right {
    float: right;
    width: 500px;
    margin-top: -35px;
    text-align: center;
}
</style>

<header>
    <a href="/"><img class="log" src="/assets/img/smiley.png"></a>
    <div id="logo">
        <a href="/">Evolution</a>
    </div>
    <div id="header-right">
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/robots">Robots</a>
                <ul>
                    <li><a href="/robot/2017">2017</a></li>
                    <li><a href="/robot/2016">2016</a></li>
                    <li><a href="/robot/2015">2015</a></li>
                    <li><a href="/robot/2014">2014</a></li>
                    <li><a href="/robot/2013">2013</a></li>
                    <li><a href="/robot/2012">2012</a></li>
                    <li><a href="/robot/2011">2011</a></li>
                    <li><a href="/robot/2010">2010</a></li>
                    <li><a href="/robot/2009">2009</a></li>
                    <li><a href="/robot/2008">2008</a></li>
                </ul>
            </li>
            <li><a href="/team">The Team</a></li>
            <li><a href="//2626.live/">Live</a></li>
            <li><span>More</span>
                <ul>
                    <li><a href="/outreach">Outreach</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="http://blog.evolution2626.org/">Blog</a></li>
                </ul>
            </li>
            <li><a href="http://fr.evolution2626.org/">Français</a></li>
        </div>                                         
        </ul>
        </nav>
     </div>
</header>
